:root {
    --Fondo: #7BD3EA;
    --NAV: #FFFFFF;
    --Hover: #FFA500;
    --verdeMenta: #98FB98;
    --blanco: #FFF;
    --negro: #000;

    --FuentePrincipal: 'Lato', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--Fondo);
    margin: 0;
    padding: 0;
}

.carrito-container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.producto-imagen {
    width: 320px;
    height: 320px;
    object-fit: cover;
    margin-right: 20px;
}

.logo-carrito {
    margin-left: 170px;
    width: 170px;
    height: 170px;
}

.titulo-carrito {
    font-size: 40px;
    text-align: center;
}

.nombre-producto {
    font-size: 25px;
}

.descripcion-producto {
    font-size: 18px;
}

.producto-info h3, .producto-info p {
    margin: 0;
}

.total {
    font-size: 1.2em;
    text-align: right;
}

.boton-pago {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2em;
}

.boton-pago:hover {
    background-color: #0056b3;
}

/** Footer **/
.footer {
    padding: 10px 0;
    margin-top: 10px;
}

.footer__texto {
    font-family: var(--FuentePrincipal);
    text-align: center;
    font-size: 25px;
    color: var(--negro);
}

/** Estilo para el boton de pagar **/

.boton-pago {
    display: inline-block;
    padding: 10px 3px;  /* Ajusta el padding para cambiar el tamaño del botón */
    font-size: 14px;   /* Ajusta el tamaño de la fuente */
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
    text-align: center;
}

.boton-pago:hover {
    background-color: #45a049;
}