@charset "UFT-8";

:root {
  --Fondo: #ADD8E6;
  --NAV: #FFFFFF;
  --Hover: #FFA500;
  --verdeMenta: #98FB98;
  --blanco: #FFF;
  --negro: #000;

  --FuentePrincipal: 'Lato', sans-serif;
}

* {
  font-family: var(--FuentePrincipal);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(fondo6.jpg);
  background-position: center;
  background-size: 1280px 1000px;
  background-size: cover;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logopag {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.navegacion a {
  position: relative;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navegacion a::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -6px;
  left: 0;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}

.navegacion a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.fondo-forml {
  position: relative;
  width: 400px;
  height: 440px;
  margin-top: 40px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.5s ease height 2s ease;
  transform: scale(1);
}

.contenedor-form {
  width: 100%;
  padding: 40px;
}

.contenedor-form h2 {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
}

.contenedor-input {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin: 25px 0;
}

.contenedor-input label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 600;
  pointer-events: none;
  transition: 0.4s;
  color: white;
}

.contenedor-input input:focus ~ label, .contenedor-input input:valid ~ label {
  top: -5px;
}

.contenedor-input input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: white;
}

.contenedor-input .icono {
  position: absolute;
  right: 8px;
  font-size: 1.4em;
  color: white;
  line-height: 57px;
}

.recordar, .terminos-condic {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin: -5px 0 15px;
  font-size: 0.9em;
  color: #ffffff;
}

.recordar label input, .terminos-condic label input {
  accent-color: black;
  margin-right: 10px;
}

.recordar a, .terminos-condic a, .iniciar-sesion a, .crear-cuenta a {
  text-decoration: none;
  color: aqua;
}

.recordar a:hover, .terminos-condic a:hover, .crear-cuenta a:hover {
  text-decoration: underline;
}

.crear-cuenta {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 25px;
}

.btn {
  width: 100%;
  height: 45px;
  color: #fff7f7;
  outline: none;
  background-color: rgb(147, 3, 204);
  font-size: 1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.btn:hover {
  transition: 0.9s;
  color: black;
  background-color: white;
  accent-color: Black;
  font-size: 1.2em;
}

.crear-cuenta,
.iniciar-sesion {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 20px;
}
.crear-cuenta p,
.iniciar-sesion p {
  color: white;
  text-decoration: none;
}

.crear-cuenta a:hover,
.iniciar-sesion a:hover {
  text-decoration: underline;
}

.contenedor-footer {
  background-color: white;
  width: 100%;
  height: 400px;
}

footer {
  width: 100%;
  height: 100px;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  position: static;
}

.nav-footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-footer a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
}

.nav-footer a:hover {
  text-decoration: underline;
}

#mensaje {
  justify-content: center;
  margin-top: 20px;
  display: flex;
  width: 100%;
  color: aqua;
  font-size: 1.2em;
}

.fondo-formr {
  position: relative;
  width: 600px;
  height: 1000px;
  margin-top: 120px;
  margin-bottom: 100px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.5s ease height 2s ease;
  transform: scale(1);
}

.nom-apell {
  display: flex;
}
.nom-apell .contenedor-input:first-child {
  color: black;
  margin-right: 20px;
}
.claves {
  display: flex;
}
.claves .contenedor-input:first-child {
  color: rgb(253, 136, 136);
  margin-right: 20px;
}
.contenedor-seleccion {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.selectores {
  width: 50%;
  box-sizing: border-box;
  margin: 10px 0;
}

.selectores label {
  display: block;
  margin-bottom: 4px;
  color: white;
  font-size: 1em;
  font-weight: 600;
  margin-left: 5px;
}

.selectores select {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin-right: 10px;
  background-color: rgb(226, 188, 231);
  color: rgb(7, 6, 6);
  cursor: pointer;
  background-image: none;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8em;
  background-color: rgb(251, 253, 106);
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #ffffff;
}

.selectores:nth-child(1),
.selectores:nth-child(3) {
  padding-right: 10px;
}

.terminos-condic {
  margin: 20px 0;
  color: white;
  display: flex;
  justify-content: center;
}

.fondo-formf {
  position: relative;
  width: 600px;
  height: 440px;
  margin-top: 40px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.5s ease height 2s ease;
  transform: scale(1);
}

.instrucciones{
  justify-content: center;
  margin: 20px 0;
  color: white;
}

.contenedor-back {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}
.contenedor-back a{
  color: aqua;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em;
}

.contenedor-back a:hover{
  text-decoration: underline;
}

.selectores-nac {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
}

.selectores-nac label {
  display: block;
  margin-bottom: 4px;
  color: white;
  font-size: 1em;
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: 15px;
}

.selectores-nac select {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin-right: 10px;
  background-color: rgb(226, 188, 231);
  color: rgb(7, 6, 6);
  cursor: pointer;
  background-image: none;
}


@media (max-width: 768px) {
  .fondo-forml {
    max-width: 350px;
  }

  .fondo-formr {
    max-width: 350px;
  }

  .fondo-formf {
    max-width: 350px;
  }

  header {
    padding: 10px 30px;
  }
  
  .logo-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logopag {
    width: 70px;
    height: 70px;
  }

  .recordar {
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
  
  .recordar a, .recordar label {
    margin: 2px 0;
  }

  .terminos-condic {
    padding: 0 0 0 22px;

  }
}
